.table{
   width:80%;
   margin: 3% 10% 3% 10%;
}

th{
   background-color: black;
   color: white;
}

td{
   color:#282828;
   border-bottom: 1px solid;
   border-color: rgb(222, 226, 230);
}

th,td{
   width:60px;
}
